@import url(../../index.css);

.home_txt_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
}
.txt_2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.txt_3 {
  font-size: 3rem;
  font-weight: bold;
}
.span_bg {
  width: 100%;
  font-size: 5rem;
  font-weight: bold;
  background-image: linear-gradient(
    to bottom,
    rgba(172, 106, 172, 0) 50%,
    rgba(172, 106, 172, 1) 50%,
    rgba(172, 106, 172, 1) 60%,
    rgba(172, 106, 172, 0) 60%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 250ms linear;
}

.span_bg:hover {
  background-size: 100% 100%;
}
